p, ul {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: #bb00dd;
}

a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.flex > img {
  margin-left: 5;
  text-align: center;
}

body {
  height: 100%;
  background-color: "#ebebeb";
}